@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Raleway:wght@300;400;500;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.core.min.css"); /* url estilos de glide para los sliders*/
@import url("https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/css/glide.theme.min.css");/* url estilos de glide para los sliders*/

/* MISC */
@import url("../css/misc/variables.css");
@import url("../css/misc/normalize.css");

/* PARTIALS */
@import url("../css/partials/header.css");
@import url("../css/partials/slider.css");
@import url("../css/partials/footer.css");

/* PAGES */
@import url("../css/pages/shop.css");
@import url("../css/pages/item.css");
@import url("../css/pages/cart.css");
@import url("../css/pages/admin.css");
@import url("../css/pages/create_edit.css");
@import url("../css/pages/login_register.css");

/* INDEX.HTML */
/* HERO */
.hero {
  background-image: url(../img/funkos-banner.webp);
  background-size: cover;
  background-attachment: fixed;
  padding: var(--spacing-128);
  position: relative;
}

.hero::before {
  content: "";
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  height: 100%;
  position: absolute;
  backdrop-filter: blur(2px) brightness(0.9);
  top: 0;
  left: 0;
}

.hero__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-20);
  align-items: start;
  position: relative;
  z-index: 2;
}

.hero__title {
  font-family: var(--alternative-font);
  font-size: var(--font-jumbo);
  color: var(--light-font-solid);
}

.hero__text {
  font-family: var(--alternative-font);
  color: var(--light-font-solid);
  font-size: var(--font-medium);
}

.hero__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--light-bg-solid);
  padding: var(--spacing-12) var(--spacing-68);
  border-radius: 50px;
  font-weight: 500;
  transition: all 0.3s ease-in-out;
}

.hero__link:hover {
  background-color: var(--primary-900);
  color: var(--light-font-solid);
}

/* COLLETIONS */
.collection {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  padding: var(--spacing-16) 0;
}

.collection:nth-child(2) .collection__cover {
  order: -1;
}

.collection__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-24);
  align-items: start;
}

.collection__title {
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 500;
}

.collection__text {
  font-family: var(--alternative-font);
  font-size: var(--font-large);
  font-weight: 300;
  border-bottom: 2px solid var(--primary-solid);
  padding-bottom: var(--spacing-20);
}

.collection__link {
  display: inline-block;
  font-size: var(--font-medium);
  background-color: var(--dark-bg-solid);
  color: var(--light-font-solid);
  padding: var(--spacing-16) var(--spacing-36);
  border-radius: 50px;
  font-weight: 500;
  transition: background 0.3s ease-in-out;
}

.collection__link:hover {
  background-color: var(--primary-900);
}

/* TODO LO QUE TIENEN IGUAL LAS PÁGINAS DEL SECTOR DEL ADMIN*/
.admin-title {
  font-family: var(--alternative-font);
  font-weight: 700;
  font-size: var(--font-display);
  color: var(--dark-solid);
  margin-bottom: var(--spacing-28);
  letter-spacing: 0.04em;
}