<!DOCTYPE html>
<html lang="es">
  <%- include ('partials/head.ejs') %>

  <body>
    <%- include ('partials/headerAdmin.ejs') %>

  <main class="container margenes-arriba-abajo36 ancho" id="main-create">
    <h1 class="admin-title">CREAR NUEVO ITEM</h1>
    <form action="/admin/create" method="post" enctype="multipart/form-data"> // agregar action al form para que pueda realizar el cambio en la BD, hablamos
      <section class="categoria-licencia spacing-36">
        <label for="categoria">Categoría: </label>
        <select name="categoria" id="categoria">
          <option disabled selected>Seleccionar</option>
          <option>Figuras Coleccionables</option>
          <option>Remeras</option>
          <option>Llaveros</option>
        </select>
        <label for="licencia">Licencia: </label>
        <select name="licencia" id="licencia">
          <option disabled selected>Seleccionar</option>
          <option>Naruto Shippuden</option>
          <option>Naruto Shippuden</option>
          <option>Naruto Shippuden</option>
        </select>
      </section>
      <div class="datos-form">
        <section class="spacing-36">
          <label for="nombre_producto">Nombre del producto: </label>
          <input class="nom_product" type="text" name="nombre_producto" id="nombre_producto" placeholder="Kakashi Hatake Shippuden Saga">
        </section>
        <section class="spacing-36">
          <textarea name="detalle_producto" id="detalle_producto" cols="30" rows="10"
            placeholder="Descripción del producto"></textarea>
        </section>
        <section class="sector-sku-descuento margin-sku">
          <label for="sku">SKU: </label>
          <input type="text" name="sku" id="sku" placeholder="SSK111AB001" size="12">
          <label for="precio">Precio: </label>
          <input type="text" name="precio" id="precio" placeholder="$ 0.000,00" size="12">
          <label for="stock">Stock: </label>
          <input  class="center" type="text" name="stock" id="stock" placeholder="0" size="5">
        </section>
        <section class="sector-sku-descuento margin-descuento">
          <label for="descuento">Descuento: </label>
          <input class="center" type="text" name="descuento" id="descuento" placeholder="0%" size="5">
          <label for="cuotas">Cuotas: </label>
          <select name="cuotas" id="cuotas">
            <option>Sin cuotas</option>
            <option>3 Cuotas sin interés</option>
            <option>6 Cuotas sin interés</option>
            <option>9 Cuotas sin interés</option>
            <option>12 Cuotas sin interés</option>
            <option>18 Cuotas sin interés</option>
            <option>24 Cuotas sin interés</option>
          </select>
        </section>
        <section class="spacing-36">
          <label for="imagenes">Imágenes: </label>
          <input type="file" name="imagenes" id="imagenes" multiple> //Maca, por favor agregar "multiple", hablamos
        </section>
      </div>
      <section class="button-create-edit">
        <button type="submit">Agregar Producto</button>
        <button type="reset">Limpiar</button>
      </section>
    </form>
  </main>

  <%- include ('partials/footerAdmin.ejs') %>
  
</body>
</html>