<!DOCTYPE html>
<html lang="es">
  <%- include ("partials/head.ejs") %>
<body>
  <%- include ('partials/headerShop.ejs') %>
  <img style="height:80vh;" src="/img/error403.jpg" alt="Foto error 403">
  <%- include ("partials/footerShop.ejs") %>
</body>
</html>