<!DOCTYPE html>
<html lang="es">
  <%- include ('partials/head.ejs') %>

  <body>
    <%- include ('partials/headerAdmin.ejs') %>
    <main>
      <h1 style="text-align: center;font-size: 3rem;">VERIFIQUE Y LLENE NUEVAMENTE LOS DATOS</h1>
      <p style="text-align: center;">Al parecer hubo datos incorrectos, vuelva atrás y verifique</p>
    </main>

    <%- include ('partials/footerAdmin.ejs') %>
  </body>
</html>