.cart__main {
  padding: var(--spacing-128) 0;
}

.cart__table__head {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: center;
  text-align: center;
  padding: var(--spacing-16) 0;
  padding-left: 7.5em;
  margin-bottom: var(--spacing-36);
}

.cart__table__head--title {
  font-size: var(--font-small);
  color: var(--font-black);
  padding-left: 3em;
}

.cart__table__head--title--cant {
  margin-left: 50%;
}

.cart__table__head--title--total {
  margin-left: 85%;
}

.cart__title {
  display: inline-block;
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 700;
  color: var(--dark-font-solid);
  border-bottom: var(--primary-solid) solid 5px;
  padding-bottom: var(--spacing-8);
  margin-bottom: var(--spacing-68);
}

/* TABLA */

.border-backcolor-header {
  /* FONDO HEAD TABLA Y RESUMEN */
  border: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px;
  background-color: var(--light-bg-solid);
  border-radius: 10px;
}

.cart__table__td-image {
  border: rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 10px 0px;
  background-color: var(--light-bg-solid);
  border-radius: 25px;
}

/* ES EL CONTAINER DE CADA FILA */
.cart__table__td-image {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--spacing-16);
  margin-bottom: var(--spacing-68);
}

.spacing-36 {
  margin-bottom: var(--spacing-36);
}

.cart__table__td-container {
  display: flex;
  align-items: center;
  gap: var(--spacing-16);
  width: 35%;
}

.cart__table__td-image picture {
  width: 25%;
}

.cart__table__td-image-description-name {
  font-size: var(--font-large);
  font-weight: 700;
  color: var(--dark-font-solid);
  margin-bottom: var(--spacing-8);
}

.cart__table__td-image-description-licence {
  font-size: var(--font-xsmall);
  font-weight: 500;
  color: var(--dark-bg-solid);
  margin-bottom: var(--spacing-20);
}

.cart__table__td-image-description-price {
  font-size: var(--font-xsmall);
  font-weight: 400;
  color: var(--grey-font-solid);
}

/* seccion de agregar mas al carrito */
.cart__table__td-number {
  display: flex;
  align-items: center;
  gap: var(--spacing-8);
  margin-left: -10%;
}

.cart__table__td-number input{
  height: 40px;
  width: 89.48px;
  text-align: center;
  font-weight: 700;
  font-size: var(--font-medium);
  color: var(--font-black);
  border: #c9c9c9 solid 0.5px;
}

.btn-cant {
  display: flex;
  flex-direction: column;
}

.cart__quantity {
  font-size: 0.8em;
  margin: 2px 2px;
  color: var(--light-font-solid);
  background-color: #f24e1e;
  border: none;
  padding: 4px;
}

.cart__table__td-totalprice {
  font-weight: 400;
  font-size: var(--font-medium);
  color: var(--grey-font-solid);
}

cart__table__head--title--total .cart__table__td-delete {
  display: flex;
  justify-content: end;
  align-items: center;
}

/* RESUMEN */
.cart__resumen {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.cart__resumen__title {
  display: inline-flex;
  font-family: var(--alternative-font);
  font-size: var(--font-display);
  font-weight: 700;
  color: var(--dark-font-solid);
  border-bottom: var(--primary-solid) solid 5px;
  padding-bottom: var(--spacing-8);
}

.cart__resumen__table {
  width: 50%;
  margin-top: var(--spacing-24);
  margin-bottom: var(--spacing-36);
  border-spacing: 0;
  padding: var(--spacing-24);
}

.cart__resumen__table__title {
  font-size: var(--font-small);
  font-weight: 600;
  color: var(--font-black);
}

.cart__resumen__body td:nth-child(1) {
  width: 50%;
  text-align: left;
}

.cart__resumen__body td:nth-child(2) {
  font-weight: 700;
  color: #747474;
  text-align: right;
}

.cart__resumen__table__title-total {
  font-size: var(--font-medium);
  font-weight: 700;
  color: var(--font-black);
  border-top: var(--primary-solid) solid 2px;
}

.cart__resumen__body td {
  padding-bottom: var(--spacing-20);
}

.cart__resumen__table__number {
  font-size: var(--font-small);
}

.cart__resumen__table__number-total {
  font-size: var(--font-medium);
  border-top: var(--primary-solid) solid 2px;
  padding-bottom: 0px;
}

.pagar {
  font-size: var(--font-xlarge);
  font-weight: 700;
  color: var(--light-font-solid);
  background-color: var(--primary-solid);
  border: none;
  padding: var(--spacing-16) 0;
  width: 50%;
}